<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>`substitute(Filename('', 'Page Title'), '^.', '\u&', '')`</title>
        meta
    </head>
    <body>
        {% block content %}
  <h2>Enter New Password</h2>
  <form method="POST">
    {% csrf_token %}
    {{ form.new_password1.label_tag }}
    {{ form.new_password1 }}
    {{ form.new_password2.label_tag }}
    {{ form.new_password2 }}
    <button type="submit">Set New Password</button>
  </form>
    </body>
</html>